<% include ../partials/header %>

<div class="row">
    <div class="centeredDiv">
        <h1 class="display-4">Create New Collection</h1>
        <form action="/lists" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="currentAge">Current Age</label>
                <input id="currentAge" class="form-control" type="number" name="currentAge" placeholder="current age">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" class="form-control" type="text" name="description" placeholder="description">
            </div>
            <button class="btn btn-lg btn-success btn-block">Create Collection</button>
        </form>
        <a class="btn btn-sm btn-info left-align-button" href="/lists">Back</a>
    </div>
</div>

<% include ../partials/footer %>