<% include ./partials/header %>

<div class="background"></div>
<div class="row align-items-end">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="formHeader">Reset password</h1>
        <form action="/forgot" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" type="email" name="email">
                <span>Provide your email and instructions for restoring password will be sent</span>
            </div>
            <button class="btn btn-lg btn-dark btn-block submitButton">Reset Password</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<% include ./partials/footer %>