<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>NOT A STRANGER</h1>
        <a class= "text-muted" href="/login">Sign In Or Register To Continue</a>
    </div>
</div>

<% include ./partials/footer %>