<% include ./partials/header %>
<link rel="stylesheet" href="/styles/landing.css">

<div class="landingBackground"></div>
<div class="container">
    <div class="jumbotron">
        <h1 class="animatedTitle">NOT A STRANGER</h1>
        <% if(currentUser) { %>
            <p class="subTitle">Go To </p><a class="subtTitleHover" href="/lists">Collections</a>
        <% } else { %>
            <a class="subtTitleHover" href="/login">Login</a>
            <p class="subTitle"> Or </p>
            <a class="subtTitleHover" href="/register">Register</a> 
            <p class="subTitle"> To Continue</p>
        <% }%> 
    </div>
</div>

<% include ./partials/footer %>