<% include ./partials/header %>

<div class="row">
    <div class="centeredDiv">
        <h1 class="display-3">LOGIN</h1>
        <form action="/login" method="POST">
            <input class="form-control" type="text" name="username" placeholder="username">
            <input class="form-control" type="password" name="password" placeholder="password">
            <button class="btn btn-lg btn-success btn-block correctAlignment">Login</button>
        </form>
        <p class="text-center">New user? <a href="/register">Register to continue</a></p>
        <p class="text-center">Forgot password? <a href="/forgot">Click here to reset</a></p>
    </div>
</div>

<% include ./partials/footer %>