<% include ./partials/header %>
<h1>Create New Encounter</h1>

<form action="/strangers" method="POST">
<input type="text" name="firstName" placeholder="first name">
<input type="text" name="lastName" placeholder="last name">
<input type="text" name="meetArea" placeholder="place of first met">
<input type="text" name="occupation" placeholder="occupation">
<input type="number" name="age" placeholder="age">
<input type="text" name="bio" placeholder="bio">
<button>Submit</button>
</form>

<% include ./partials/footer %>