<% include ./partials/header %>

<div class="row">
    <div class="centeredDiv">
        <h1 class="display-3">REGISTER</h1>
        <form action="/register" method="POST">
            <input class="form-control" type="text" name="username" placeholder="username">
            <input class="form-control" type="password" name="password" placeholder="password">
            <button class="btn btn-lg btn-success btn-block">Register</button>
        </form>
    </div>
</div>

<% include ./partials/footer %>