<% include ./partials/header %>

<div class="row">
    <div class="centeredDiv">
        <h1 class="display-3">REGISTER</h1>
        <form action="/register" method="POST">
            <input class="form-control" type="text" name="username" placeholder="username">
            <input class="form-control" type="password" name="password" placeholder="password">
            <input class="form-control" type="text" name="adminCode" placeholder="admin code">
            <button class="btn btn-lg btn-success btn-block correctAlignment">Register</button>
        </form>
        <p class="text-center">Already a user? <a href="/login">Login to continue</a></p>

    </div>
</div>

<% include ./partials/footer %>