<% include ../partials/header %>

    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Create New Stranger For <%= list.name %></h1>
        </div>
    </div>      

    <form action="/lists/<%= list._id %>/strangers" method="POST" id="stranger-new">    
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h5>General</h5>
                <input class="form-control" type="text" name="firstName" placeholder="first name" required>
                <input class="form-control" type="text" name="lastName" placeholder="last name">
                <input class="form-control" type="text" name="race" placeholder="race">
                <input class="form-control" type="text" name="nation" placeholder="nationality">
                <input class="form-control" type="text" name="meetArea" placeholder="place of first met">
                <input class="form-control" type="text" name="mentality" placeholder="mentality/life goal"> <!-- -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h5>Appearance</h5>
                <input class="form-control" type="number" name="age" placeholder="age">
                <input type="hidden" type="number" name="currentAge" value="<%= list.currentAge %>">
                <input class="form-control" type="number" name="height" placeholder="height"> <!-- -->
                <input class="form-control" type="number" name="weight" placeholder="weight"> <!-- -->
                <input class="form-control" type="text" name="build" placeholder="build"> <!-- -->
                <input class="form-control" type="text" name="eye" placeholder="eye color"> <!-- -->
                <input class="form-control" type="text" name="hair" placeholder="hair color"> <!-- -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h5>Family</h5> 
                <input class="form-control" type="text" name="socialRank" placeholder="social rank"> <!-- -->
                <input class="form-control" type="text" name="occupation" placeholder="occupation">
                <textarea class="form-control correctAlignment" rows="4" cols="50" name="family" form="stranger-new" placeholder="enter family"></textarea> <!-- -->
                <textarea class="form-control correctAlignment" rows="4" cols="50" name="bio" form="stranger-new" placeholder="enter bio"></textarea> <!-- -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h5>Stats and equipment</h5>
                <textarea class="form-control correctAlignment" rows="4" cols="50" name="skills" form="stranger-new" placeholder="enter skills"></textarea> <!-- -->
                <textarea class="form-control correctAlignment" rows="4" cols="50" name="equipment" form="stranger-new" placeholder="enter equipment"></textarea> <!-- -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-lg btn-success btn-block correctAlignment">Create Stranger</button>
            </div>
        </div>    
    </form>

    <div class="row">
        <div class="col-12">
            <a class="btn btn-sm btn-info left-align-button-2" href="/lists/<%= list._id %>/">Back</a>
        </div>
    </div>

<% include ../partials/footer %>