<% include ../partials/header %>

<div class="row">
    <div class="col-md-12">
        <h1 class="formHeader">Create New Group</h1>
    </div>
</div>
<div class="row"> 
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/lists/<%= list._id %>/groups" method="POST" id="group_new" autocomplete="off">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name">
                <span>Enter name of group here</span>
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control correctAlignment" rows="5" cols="50" name="desc" form="group_new"></textarea>
                <span>Enter description of the group here</span>
            </div>
            <button class="btn btn-lg btn-dark btn-block submitButton">Create Group</button>
        </form>
        <a class="btn btn-sm btn-dark backButton" href="/lists/<%= list._id %>/groups">Back</a>
    </div>
    <div class="col-md-4"></div>
</div>

<% include ../partials/footer %>