.listHeader {
    font: normal 3rem "Nothing You Could Do", cursive;
    text-align: center;
    margin: 30px 0 10px;
    color: white;
}

.subListHeader {
    font: normal 1.3rem "Nothing You Could Do", cursive;
    text-align: center;
    margin: 0 0 5px;
    color: white;
}

/* Tables */

    table.sortable thead {
        background-color:rgb(0, 0, 0);
        opacity: 0.8;
        color: white;
        font-weight: bold;
        cursor: default;
    }

    table.sortable tr {
        border-bottom: 1px solid white;
    }

    table.sortable tr td:not(a){
        color: rgb(201, 201, 201);
        transform: translateY(5px);
    }

    table.sortable tr td a {
        font-size: 1rem;
        color: rgb(255, 255, 255);
        opacity: 0.8;
        text-decoration: none;
        transform: translateY(-5px);
    }

    table.sortable tr td a:hover {
        opacity: 1;
    }

    table td.table-align-right {
        text-align: right;
        color: purple;
    }

    /* Fast NPC */
    #formFastStranger label {
        color: white;
        font: normal 16px Karam, cursive;
    }
    
    #formFastStranger input {
        height: calc(1.3125rem + 2px);
    }
    
    .fastStrangerTitleH5 {
        margin: 10px 0 5px;
        color: white;
        font: normal 1.3rem Karam, cursive;
    }

    /* Show Page */
    div.infoContainer {
        margin: 10px 0;
        text-align: center;
    }

    div.strangerInfo {
        display: inline;
        padding: 0;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: 5px;
    }

    div.strangerInfo h6 {
        /* display: inline; */
        font: bold 1.2rem Karam, cursive;
        color: white;
        margin-bottom: 2px;
    }

    div.strangerInfo p {
        display: inline;
        font: normal 1.1rem Helvetica, Arial, sans-serif;;
        color: white;
        line-height: 1;
    }