.listHeader {
    font: normal 3rem "Nothing You Could Do", cursive;
    text-align: center;
    margin: 30px 0 10px;
    color: white;
}

.subListHeader {
    font: normal 1.3rem "Nothing You Could Do", cursive;
    text-align: center;
    margin: 0 0 5px;
    color: white;
}

#adjustPosition {
    margin-top: -230px;
}

@media print {
    .listHeader, .subListHeader {
        color: black;
    }
    .listHeader {
        margin-bottom: 0;
    }
}

/* Tables */

    table.sortable thead {
        background-color:rgb(0, 0, 0);
        opacity: 0.8;
        color: white;
        font-weight: bold;
        cursor: default;
    }

    table.sortable tr {
        border-bottom: 1px solid white;
    }

    table.sortable tr td:not(a){
        color: rgb(201, 201, 201);
        transform: translateY(2px);
    }

    table.sortable tr td a {
        font-size: 1rem;
        color: rgb(255, 255, 255);
        opacity: 0.8;
        text-decoration: none;
        transform: translateY(-5px);
    }

    table.sortable tr td a:hover {
        opacity: 1;
    }

    table td.table-align-right {
        text-align: right;
    }

    table.sortable td.tableOverflow {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .btn.btn-sm.inlineStrangerEditButton {
        font-size: 0.8rem;
        padding: 2px;
        line-height: 1;
        background-color: #aaaa5c;
        transform: translate(5px, -1px);
    }

    @media print {
        table.sortable thead,
        table.sortable tr,
        table.sortable tr td a,
        table td,
        table th,
        table.sortable tr td:not(a) {
            color: black;
        }
        table.sortable thead {
            background-color: grey;
        }
    }

    /* Fast NPC */
    #pop-up-fast-NPC {
        z-index: 2;
        position: relative;
        top: 5px;
        left: -5px;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 5px 25px;
        border-radius: 10px;
    }

    #formFastStranger input[type="text"] {
        width: 100%;
        color: white;
        font: normal 1rem Karam, cursive;
    }
    
    .fastStrangerTitleH5 {
        text-align: left;
        margin: 5px 0 5px;
        color: white;
        font: normal 1.3rem Karam, cursive;
    }

    #formFastStranger span {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        display: block;
        padding: 0;
        margin-left: 5px;
        margin-right: -5px;
        /* text-align: center; */
        color: #C0C0C0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
     
    @media print {
        #formFastStranger {
            display: none;
        }
    }

    /* Show Page */
    div.infoContainer {
        margin: 10px 0;
        text-align: center;
    }

    div.strangerInfo {
        display: inline;
        padding: 0;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: 5px;
    }

    div.strangerInfo h6 {
        font: bold 1.2rem Karam, cursive;
        color: white;
        margin-bottom: 2px;
    }

    div.strangerInfo p {
        display: inline;
        font: normal 1.1rem Helvetica, Arial, sans-serif;;
        color: white;
        line-height: 1;
    }
/* Stranger Show*/
    .showPage h6.titleForItem {
        padding: 0;
        margin: -5px 7px -5px 7px;
        font: normal 1.2rem Karam, cursive;
        letter-spacing: 2px;
        color: white;
    }

    .showPage .show-group-border {
        border: 1px solid grey;
        padding: 5px 15px 5px 5px;
        background: rgba(0, 0, 0, 0.2);
    }

    .showPage input[disabled],
    .showPage textarea[disabled] {
        background: rgba(0, 0, 0, 0.4);
        margin: 5px;
        color: rgb(224, 224, 224);
        font: normal 1.1rem Karam, cursive;
        border-radius: 5px;
    }
/* Group Show*/
    .groupPage h6.titleForItem {
        padding: 0;
        margin: 15px 7px -5px 7px;
        font: normal 1.2rem Karam, cursive;
        letter-spacing: 2px;
        color: white;
    }

    .groupPage p,
    .groupPage a {
        /* background: rgba(0, 0, 0, 0.4); */
        margin: 10px 5px;
        color: rgb(255, 255, 255);
        font: normal 1.1rem Karam, cursive;
        border-radius: 5px;
        text-decoration: none;
        opacity: 0.8;
    }

    .groupPage a:hover {
        opacity: 1;
    }

    .groupPage .show-group-border {
        border: 1px solid grey;
        padding: 5px 15px 5px 5px;
        background: rgba(0, 0, 0, 0.2);
    }

    .groupPage input[disabled],
    .groupPage textarea[disabled] {
        background: rgba(0, 0, 0, 0.4);
        margin: 5px;
        color: rgb(224, 224, 224);
        font: normal 1.1rem Karam, cursive;
        border-radius: 5px;
    }

    @media (max-width: 400px) {
        .showPage h6.titleForItem {
            font: normal 1rem Helvetica, Arial, sans-serif;
            color: white;
            margin: 5px 7px;
        }
        
        .showPage input[disabled],
        .showPage textarea[disabled] {
            font: normal 1.1rem Helvetica, Arial, sans-serif;
        }

    }

    .groupPage textarea[disabled] {
        background: rgba(0, 0, 0, 0.4);
        margin: 5px;
        color: rgb(224, 224, 224);
        font: normal 1.1rem Karam, cursive;
        border-radius: 5px;
    }

    