/* NAV BAR IN LANDING PAGE*/

.navbar {
    background-color: #0c0c0c;
    opacity: 0;
    transform: translateY(-100px);
    animation: navfadein 1s 0.3s forwards;
}

@keyframes navfadein {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* JUMBOTRON IN LANDING PAGE */

div.jumbotron {
    position: relative;
    text-align: center;
    margin: 20vh auto;
    background: rgba(233, 236, 239, 0);
    opacity: 0;
    transform: translateY(100px);
    animation: fadein 1s 0.5s forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .jumbotron {
    padding: 0;
} */

div.jumbotron h1.animatedTitle {
    font: normal 56px "Nothing You Could Do", "cursive";
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

div.jumbotron p {
    display: inline;
    font: normal 25px "Kalam", "cursive"; 
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

div.jumbotron a {
    display: inline;
    font: normal 25px "Kalam", "cursive"; 
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

div.jumbotron a.subtTitleHover {
    opacity: 0.8;
    transition-duration: 100ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}
div.jumbotron a.subtTitleHover:hover {
    text-decoration: none;
    opacity: 1;
    transition-duration: 100ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}

@media (max-width: 400px) {
    .jumbotron {
        padding: 0;
    }
}
