/* NAV BAR */

    .navbar {
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        font-family: "Kalam", cursive;
        opacity: 1;
    }

    .text-muted {
        margin-bottom: 0px;
    }
    .hoverTextNav {
        margin-top: 5px;
        display: inline-block;
        color: inherit;
        transition-duration: 100ms;
        transition-delay: 50ms;
        transition-timing-function: ease-in-out;
    }
    .hoverTextNav:hover {
        color: inherit;
        text-decoration: none;
        /* transform: scale(1.1);
        transform-origin: 50% 50%; */
        opacity: 1;
        transition-duration: 100ms;
        transition-delay: 50ms;
        transition-timing-function: ease-in-out;
    }

/* MAIN PAGES */

    /* General Appearance */
        .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-image: url('../images/desk_and_pen.jpg');
            background-size: cover;
            background-position: center;
            background-color: black;
            filter: brightness(0.7) blur(2px);
            padding: 0;
            margin: 0;
            z-index: -1;
        }

        .bg-stranger {
            height: 130vh;
        }

        .display-4 {
            text-align: center;
            font-size: 1.5rem;
            margin: 15px 0;
            text-transform: uppercase;
        }

    /* Tables */

        table.sortable thead {
            background-color:#eee;
            color:#666666;
            font-weight: bold;
            cursor: default;
        }

        .cell-width-30 {
            width: 40%
        }
        .cell-width-40 {
            width: 40%
        }

/*  GENERAL STYLES*/

.backButton {
    margin: 15px 7px;
    text-align: left;
    background-color: #5c83aa;
}

.centeredDiv {
    width: 30%;
    margin: 5vh auto;
}
.centeredStrangerDiv {
    width: 50%;
    margin: 5vh auto;
}
.left-align-button-2 {
    margin: 5px 5px;
    text-align: left;
}
.new-stranger-button {
    margin-bottom: 10px;
}
.btn-inline {
    display: inline;
}
.hidden {
    display: none;
}
