/* NAV BAR */

    .navbar {
        background-color: #0c0c0c;
        font-family: "Kalam", cursive;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        opacity: 1;
    }

    .text-muted {
        margin-bottom: 0px;
    }
    .hoverTextNav {
        font: normal 1.2rem Helvetica, cursive;
        color: rgb(255, 255, 255);
        opacity: 0.8;
        margin-top: 5px;
        display: inline-block;
        color: inherit;
        transition-duration: 100ms;
        transition-delay: 50ms;
        transition-timing-function: ease-in-out;
    }
    .hoverTextNav:hover {
        color: inherit;
        text-decoration: none;
        opacity: 1;
        transition-duration: 100ms;
        transition-delay: 50ms;
        transition-timing-function: ease-in-out;
    }

/* MAIN PAGES */

    /* hide/show delete btn */
    .hidden {
        display: none;
    }

/*  GENERAL STYLES*/

    /* Backgrounds */

    body {
        background-image: url('../images/black_wood.jpg');
        background-repeat: repeat; 
        font-family: Helvetica, Arial, sans-serif;
        z-index: -2;
    }

    .landingBackground {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-image: url('../images/desk_and_pen.jpg');
        background-size: cover;
        resize: both;
        background-position: center;
        filter: brightness(0.7) blur(2px);
        padding: 0;
        margin: 0;
        z-index: -1;
    }

    .bg-stranger {
        height: 130vh;
    }

    /* Buttons */
    .backButton {
        margin: 15px 7px;
        text-align: left;
        background-color: #5c83aa;
    }
    .fastCreateButton {
        margin: 2px 0;
        padding: 2px 4px;
        text-align: left;
        background-color: #aaaa5c;
        transform: translateY(-2px);
    }

    .submitButton {
        margin-left: 5px;
        margin-bottom: 5px;
        background-color: #aaaa5c; 
    }

    table.sortable tr td a.editButton {
        background-color: #aaaa5c;
        font-size: 0.8rem;
        margin-right: 10px;
    }

    table.sortable tr td a.deleteButton {
        background-color: #aa6e5c;
        font-size: 0.8rem;
    }
    .editButton {
        background-color: #aaaa5c;
        font-size: 1rem;
    }

    .deleteButton {
        background-color: #aa6e5c;
        font-size: 1rem;
    }





