/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
/* Cell width in the tables */
.cell-width-30 {
    width: 40%
}
.cell-width-40 {
    width: 40%
}
.display-3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 0;
}
.display-4 {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
    text-transform: uppercase;
}
.jumbotron {
    position: relative;
    text-align: center;
    margin-top: 20vh;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(105, 105, 105);
}
.navbar {
    box-shadow: 1px 1px 5px rgb(105, 105, 105);
}
.text-muted {
    margin-bottom: 0px;
}
.hoverTextDefault {
    display: inline-block;
    color: inherit;
    transition-duration: 100ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}
.hoverTextDefault:hover {
    color: inherit;
    text-decoration: none;
    transform: scale(1.1);
    margin: 0 4px;
    transition-duration: 100ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}
.hoverTextNav {
    display: inline-block;
    color: inherit;
    transition-duration: 100ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}
.hoverTextNav:hover {
    color: inherit;
    text-decoration: none;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    transition-duration: 100ms;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}
.centeredDiv {
    width: 30%;
    margin: 5vh auto;
}
.centeredStrangerDiv {
    width: 50%;
    margin: 5vh auto;
}
.correctAlignment {
    margin-left: 5px;
    margin-bottom: 5px;
}
.left-align-button {
    margin: 5px 0;
    text-align: left;
}
.left-align-button-2 {
    margin: 5px 5px;
    text-align: left;
}
.new-stranger-button {
    margin-bottom: 10px;
}
label {
    padding: 0;
    margin: 0 7px;
}
input {
    margin: 5px;
}
.btn-inline {
    display: inline;
}
.hidden {
    display: none;
}
.animatedTitle {
    animation-name: animatedtitle;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animatedtitle {
    0% {
        color: black;
    }
    30% {
        color: rgba(63, 63, 63, 0.8);
    }
    50% {
        color: rgb(63, 63, 63);
    }
    70% {
        color: rgba(63, 63, 63, 0.8);      
    }
    100% {
        color: black;
    }
}